* {
    margin: 0;
    padding: 0; 
}

@mixin mobile {
    @media screen and (max-width: 768px) {
      @content;
    }
  }

body {
    width: 1200px;
    align-content: center;
    margin: auto;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    h1, h2, h3{
        font-family: "Fraunces", serif;
    }
    @include mobile {
        width: 100%;
      }
}

@import "header";
@import "navMobile";
@import "main";
@import "footer";
