* {
  margin: 0;
  padding: 0;
}

body {
  width: 1440px;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}

h1, h2 {
  font-family: "Fraunces", serif;
}

header {
  background-image: url(images/photos/image-header.jpg);
  background-size: cover;
  height: 800px;
  color: white;
}
@media screen and (max-width: 768px) {
  header {
    background: contain;
    background-position: center;
    width: 100%;
    height: 534px;
  }
}
header figure {
  position: relative;
  display: flex;
  justify-content: center;
}
header figure .arrow {
  padding-top: 80px;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px;
}
header nav figure {
  justify-content: left;
  align-items: center;
}
header nav .containe_a {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
header nav a {
  width: 80px;
  text-align: center;
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  header nav a {
    width: auto;
  }
}
header nav .contact {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 27px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 140px;
  height: 56px;
}
@media screen and (max-width: 768px) {
  header nav .contact {
    width: auto;
  }
}
header nav .contact:hover {
  background-color: #64c8fa;
  color: rgb(255, 255, 255);
}
header h1 {
  position: relative;
  text-align: center;
  margin-top: 116px;
  font-size: 52px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 19pt;
  }
}

main {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
main article {
  width: 50%;
  height: 600px;
}
@media screen and (max-width: 768px) {
  main article {
    width: 100%;
    height: auto;
  }
}
main article figure {
  width: 100%;
}
main article figure img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px;
}
@media screen and (max-width: 768px) {
  main article figure img {
    position: relative;
    width: 100%;
    height: auto;
  }
}
main article .content {
  padding: 25%;
  position: relative;
}
main article .content h1 {
  padding-bottom: 25px;
}
main article .content p {
  line-height: 200%;
  padding-bottom: 25px;
}
@media screen and (max-width: 768px) {
  main article .content p {
    line-height: normal;
    text-align: center;
  }
}
main article .content a {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
}
main article .content_p {
  padding: 45% 25% 25% 25%;
  position: relative;
  text-align: center;
  color: hsl(167, 40%, 24%);
}
@media screen and (max-width: 768px) {
  main article .content_p {
    padding: auto;
  }
}
main article .content_p h1 {
  padding-bottom: 25px;
}
@media screen and (max-width: 768px) {
  main article .content_p h1 {
    text-align: center;
  }
}
main article .content_p p {
  line-height: 200%;
  padding-bottom: 25px;
}
@media screen and (max-width: 768px) {
  main article .content_p p {
    line-height: normal;
    text-align: center;
  }
}
main article .content_p a {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
}

.title {
  width: 100%;
  text-align: center;
  background-color: #FFFCF8;
}
@media screen and (max-width: 768px) {
  .title {
    height: auto;
  }
}
.title h1 {
  color: hsl(213, 9%, 39%);
}
.title .content_people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .title .content_people {
    flex-direction: column;
    align-items: center;
  }
}
.title .people {
  width: 30%;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .title .people {
    width: 90%;
  }
}
.title .people img {
  position: relative;
  width: 30%;
  height: 30%;
  padding: 20px;
  border-radius: 50%;
}
.title .people p {
  padding: 10%;
  color: hsl(210, 4%, 67%);
}

.photo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .photo {
    flex-wrap: wrap;
  }
}
.photo img {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .photo img {
    width: 50%;
  }
}

footer {
  background-color: hsl(168, 34%, 41%);
  text-align: center;
  width: 100%;
  height: 350px;
}
footer .logo {
  filter: invert(90%);
  opacity: 0.5;
}
footer figure {
  padding: 72px;
}
footer figure img {
  margin: 0 15px 0 15px;
}
footer figure img:hover {
  filter: brightness(200);
}
footer a {
  padding: 30px;
  color: hsl(167, 40%, 24%);
}
footer a:hover {
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=style.css.map */