* {
    margin: 0;
    padding: 0;
    
}

body {
    width: 1440px;
    //width: 100%;
    font-family: "Barlow", sans-serif;;
    font-size: 18px;
}

h1, h2 {
    font-family: "Fraunces", serif;
}

header {
    background-image: url(images/photos/image-header.jpg);
    background-size: cover;
    height: 800px;
    color: white;
    figure {
        position: relative;
        display: flex;
        justify-content: center;
        .arrow {
            padding-top: 80px;
        }
        
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 34px;
        
        figure {
            justify-content: left;
            align-items: center;
        }
        .containe_a {
            align-items: center;
            display: flex;
            justify-content: flex-end;
        }
        a {
            width: 80px;
            text-align: center;
            padding-left: 40px;
        }
        .contact {
            background-color: rgb(255, 255, 255);
            color: black;
            border-radius: 27px;
            font-family: "Fraunces", serif;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            width: 140px;
            height: 56px;
        }
    }
    
    h1 {
        position: relative;
        text-align: center ;
        margin-top: 116px;
        font-size: 52px;
        text-transform: uppercase;
        letter-spacing: 10px;
    }   
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    article {
        width: 50%;
        height: 600px;
        
        figure {
            width: 100%;
            img {
                position: absolute;
                object-fit: cover;
                height: 600px;
            }
        }
        .content {
            padding: 25%;
            position: relative;
            h1 {
                padding-bottom: 25px;
            }
            p {
                line-height: 200%;
                padding-bottom: 25px;
            }
            a {
                text-transform: uppercase;
                font-family: "Fraunces", serif;
                
            }
        }
        .content_p {
            padding: 45% 25% 25% 25%;
            position: relative;
            text-align: center;
            color: hsl(167, 40%, 24%);
            h1 {
                padding-bottom: 25px;
            }
            p {
                line-height: 200%;
                padding-bottom: 25px;
            }
            a {
                text-transform: uppercase;
                font-family: "Fraunces", serif;    
            }
        }
    }
}

.title {
    width: 100%;
    text-align: center;
    background-color: #FFFCF8;
    padding: 10px;
    h1 {
        color: hsl(213, 9%, 39%);
    }
    
    .content_people {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .people {
        width: 30%;
        
        padding: 20px;
        img {
            position: relative;
            width: 30%;
            height: 30%;
            padding: 20px;
            border-radius: 50%;
        }
        p{
            padding: 10%;
            color: hsl(210, 4%, 67%);
        }
        
    }
}